@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: .9rem;
}
body{
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.form{
    max-width: 300px;
    padding: 6px;
    border: 1px solid #140f6d00;
    border-radius: .7rem;
}
.info{
    justify-content: center;
    align-items: center;
    max-width: 300px;
    border-radius: .7rem;
    vertical-align: middle;
    text-align: center;
    font-size: .8rem !important;
    color: #8ff33e;
}
input, 
textarea{
    width: 100%;
    padding: 4px;
    outline: none;
    /*border: 1px solid #140f6d;*/
    border: 1px solid #140f6d00;
    margin: 3px 0px;
    border-radius: .3rem;
}
#btn{
    width: 288px;
    padding: 6px;
    cursor: pointer;
    border: none;
    border-radius: .3rem;
    background: #8ff33e;
}
h1, h5{
    font-size: 1rem;
    color: #8ff33e;
}
