@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
a
{
    background-color: none;
    color: #ffffff;
}
a:hover
{
    background-color: indigo;
    Color: rgb(246, 250, 130);
}

.headertext{
    margin-top: 7px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgb(246, 250, 130);
    display: flex;
    justify-content: center;
    border: 2px solid red;
    padding: 10px;
    border-radius: 30px 10px;
}

.headertext img{
    width: 20rem;
}

#div_top_hypers {
    background-color:#eeeeee;
    display:inline;
    text-align: center;
}
#ul_top_hypers li{
    display: inline;
    color: rgb(246, 145, 4);
    background-color: none;
    text-decoration: none;
    font-size: 2rem ;
}

#ul_top_hypers li:hover{
    background-color: rgb(246, 250, 130);
    Color: #ffffff;
    text-decoration: none;
}
.a_top_hypers {
    text-decoration: none;
    color: rgb(52, 48, 43);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.a_top_hypers:hover{
    background-color: indigo;
    Color: rgb(246, 250, 130);
}
.float-container {
    border: 3px solid white;
    padding: 20px;
    border-radius: 1rem;
    background-color: white;
    height: 320px;
}
.first {
    width: 65%;
    float: left;
    height: 320px;
    background-color: rgba(64, 64, 156, 0.603);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
.first iframe{
    display : block;
    margin-left: auto;
    margin-right: auto;
}
.second {
    width: 35%;
    float: right;
    height: 320px;
    background-color: rgb(20, 15, 109);
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display : block;
    margin-left: auto;
    margin-right: auto;
}
.form-example{
  margin: auto;
  display: block;
}
.form-example input{
width : 16rem;
}
.form-example textarea{
width : 16rem;
}
input[type="Submit"] {
    height: 2rem;
    width: 10rem;
    border: 1px solid white;
    border-radius: 1rem;
    background: url(/images/icons8-send-24.png) rgb(246, 250, 130) no-repeat 10% 50%;
    color: black;
    cursor: pointer;
    text-align:center;
    margin: auto;
    font-weight: bold;
}
input[type="Submit"]:hover {
    color: indigo;
    font-weight: bold;
    background: url(/images/icons8-send-24.png) rgb(246, 250, 80) no-repeat 15% 50%;
}
.vid-container {
  max-width: 514px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}
.vid-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
} 
.vid-container iframe {
  position: absolute;
  top: 20px;
  right: 0;
  bottom: 0;
  left: 0;
} 
