@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
a{
    background-color: none;
    color: #ffffff;
}
a:hover, a.hover_effect{
    background-color: indigo;
    Color: rgb(246, 250, 130);
}

.headertext{
    margin-top: 7px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgb(246, 250, 130);
    display: flex;
    justify-content: center;
    border: 2px solid red;
    padding: 10px;
    border-radius: 30px 10px;
}

.headertext img{
    width: 20rem;
}

#div_top_hypers {
    background-color:#eeeeee;
    display:inline;
    text-align: center;
}
#ul_top_hypers li{
    display: inline;
    color: rgb(246, 145, 4);
    background-color: none;
    text-decoration: none;
    font-size: 2rem ;
}

#ul_top_hypers li:hover, li.hover_effect{
    background-color: rgb(246, 250, 130);
    Color: #ffffff;
    text-decoration: none;
}
.a_top_hypers {
    text-decoration: none;
    color: rgb(52, 48, 43);
}
.a_top_hypers:hover, .a_top_hypers.hover_effect{
    background-color: indigo;
    Color: rgb(246, 250, 130);
}

@media(hover: hover) and (pointer: fine) {
    a_top_hypers:hover {
        background: green;
    }
}

.float-container {
    border: 3px solid rgba(255, 255, 255, 0);
    padding: 20px;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0);
    height: 320px;
}
.first {
    width: 65%;
    float: left;
    height: 320px;
    background-color: rgb(13, 26, 3);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
.first iframe{
    display : block;
    margin-left: auto;
    margin-right: auto;
}
.second {
    width: 35%;
    float: right;
    height: 320px;
    background-color: rgb(20, 15, 109);
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    color: white;
    display : block;
    margin-left: auto;
    margin-right: auto;
}
.form-example{
  margin: auto;
  display: block;
}
.form-example input{
width : 16rem;
}
.form-example textarea{
width : 16rem;
}
input[type="Submit"] {
    height: 2rem;
    width: 10rem;
    border: 1px solid white;
    border-radius: 1rem;
    background: url(/images/icons8-send-24.png) rgb(246, 250, 130) no-repeat 10% 50%;
    color: black;
    cursor: pointer;
    text-align:center;
    margin: auto;
    font-weight: bold;
}
input[type="Submit"]:hover {
    color: indigo;
    font-weight: bold;
    background: url(/images/icons8-send-24.png) rgb(246, 250, 80) no-repeat 15% 50%;
}
.vid-container {
  max-width: 514px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}
.vid-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
} 
.vid-container iframe {
  position: absolute;
  top: 20px;
  right: 0;
  bottom: 0;
  left: 0;
} 

#mySidenav a {
  position: absolute;
  left: -90px;
  transition: 0.3s;
  padding: 10px 10px 10px 20px;
  width: 80px;
  text-decoration: none;
  font-size: 0.4rem;
  color: white;
  border-radius: 0 5px 5px 0;
}

#mySidenav a:hover, a.hover_effect {
  left: 0;
}
#master {
  top: 20rem;
  background-color: #000
}
#master img{
    transition: transform .5s;
}
#master img:hover, img.hover_effect{
    transform: scale(1.2);
}
.hover {
    -webkit-touch-callout: none; 
    -webkit-user-select: none;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
