.H
{
    background-color: none;
    color: none;
    text-decoration: none;
}
.H:hover
{
    background-color: red;
    color: green;
}
#ME
{
    background-color: none;
    color: none;
}
#ME:hover
{
    background-color: yellow;
    Color: #ffffff;
}

.headertext{
    background-color: rgb(246, 250, 130);
    display: flex;
    justify-content: center;
     border: 2px solid red;
    padding: 10px;
    border-radius: 50px 20px;
}

.headertext img{
    width: 20rem;
}

#div_top_hypers {
    background-color:#eeeeee;
    display:inline;
    text-align: center;
}
#ul_top_hypers li{
    display: inline;
    color: rgb(246, 145, 4);
    background-color: none;
    text-decoration: none;
    font-size: 2rem ;
}

#ul_top_hypers li:hover{
    background-color: rgb(246, 250, 130);
    Color: #ffffff;
    text-decoration: none;
}
.a_top_hypers {
    text-decoration: none;
    color: rgb(52, 48, 43);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.a_top_hypers:hover{
color: indigo;
}
.float-container {
    border: 3px solid #fff;
    padding: 20px;
    border-radius: 1rem;
    background-color: white;
}
#first {
    width: 70%;
    float: left;
    height: 350px;
    background-color: blue;
    border-radius: 1rem;
}
#second {
    width: 30%;
    float: right;
    height: 350px;
    background-color: blue;
    border-radius: 1rem;
    text-color: white;
}
#second a img{
border-radius: 50%;
    display : block;
    margin : auto;
}
#second a{
  text-decoration: none;
  color: #008CBA;
}
